
	body {
  	background-image: url('images/bg.jpg');
			 background-size: cover;
			 background-attachment: fixed;
			 margin:0;
			 padding:0;
	}
	form{
		color: whitesmoke;
		text-shadow: 1px 1px 1px solid white;
		font-family: Bookman Old Style;
		font-size: 30px;
		margin-top: 100px;
	}
	.log{
		color: black;
		text-shadow: white;
		font-family: Times New Roman;
	}
	h1{
			text-align: center;
			color: red;
			font-size: 30px;
		}
		img{
			width: 110px;
           	height: :140px;
           	position:absolute;
			transform: translate(-50%, -50%);
			padding: 0 20px;
			text-align: center;

         }